# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
DriveLogScraper/.idea/workspace.xml
DriveLogScraper/.idea/.name
DriveLogScraper/.idea/DriveLogScraper.iml
DriveLogScraper/.idea/misc.xml
DriveLogScraper/.idea/vcs.xml
DriveLogScraper/.idea/modules.xml
